*{
    box-sizing: border-box;
}

body{
    margin: 0;  
}

.canvas-container{
    height: 90vh;
    width: 100%;
    background-color: lightyellow;
}
canvas{
    background-color: #fff;
    display: block;
    margin: 0 auto;
}